# Flutter
app/.dart_tool/
app/build/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages
app/.idea/
app/.vscode/
app/*.iml

# C++ / PyInstaller
c_source_code/*.exe
c_source_code/build/
c_source_code/dist/
c_source_code/Temp_Data/
c_source_code/db/
c_source_code/__pycache__/
c_source_code/*.pyc
c_source_code/HddSentinel_screen_shot.png
c_source_code/*.mkv
c_source_code/*.mp4
c_source_code/Hard Disk Sentinel/
c_source_code/Geekbench 5/
c_source_code/Geekbench6/
c_source_code/HeavyLoad/
c_source_code/OpenHardwareMonitor/
c_source_code/ffmpeg/
c_source_code/CH341SER/
c_source_code/cp210x_driver/
c_source_code/y-cruncher*/app.zip 
app/app.zip 
c_source_code/flutter_ui/ 
app/devtools_options.yaml 
